@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.no-padding {
    padding: 0 !important;
    max-width: 100% !important;
}

body {
    /* font-family: ClashGrotesk-Regular, sans-serif; */
    /* font-family: Manrope_da111, sans-serif; */
    font-family: "Open Sans Variable", sans-serif;
    font-weight: 400; /* Regular weight */
    font-stretch: 100%; /* Normal width */
}

.Toastify__toast-body {
    font-family: "Open Sans Variable", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

h1 {
    font-family: "Open Sans Variable", sans-serif;
    font-weight: 800; /* Bold weight */
    font-stretch: 110%; /* Slightly wider text */
}

h2 {
    font-family: "Open Sans Variable", sans-serif;
    font-weight: 600;
}

p {
    /* font-family: Manrope_medium, sans-serif; */
    /* font-family: ClashGrotesk-Medium, sans-serif; */
    font-family: "Open Sans Variable", sans-serif;
    font-weight: 400; /* Light weight */
    font-stretch: 100%; /* Condensed text */
}

input {
    font-family: "Open Sans Variable", sans-serif;
    font-weight: 300;
}

@font-face {
    font-family: "Formula Condensed Light";
    font-style: normal;
    font-weight: normal;
    src:
        local("Formula Condensed Light"),
        url("../public/fonts/FormulaCondensed-Light.woff") format("woff");
}

@font-face {
    font-family: "Open Sans Variable";
    src: url("../public/fonts/OpenSans-VariableFont_wdth,wght.ttf")
        format("truetype");
    font-weight: 100 900; /* Supports a range of weights */
    font-stretch: 75% 125%;
    /* Supports width variation */
    font-style: normal;
}

@font-face {
    font-family: "Manrope_da111";
    font-style: normal;
    font-weight: normal;
    src:
        local("Manrope Regular"),
        url("../public/fonts/regular.woff") format("woff");
}
@font-face {
    font-family: "Manrope_light";
    font-style: normal;
    font-weight: 300;
    src:
        local("Manrope Light"),
        url("../public/fonts/light.woff") format("woff");
}

@font-face {
    font-family: "Manrope_medium";
    font-style: normal;
    font-weight: 500;
    src:
        local("Manrope Medium"),
        url("../public/fonts/medium.woff") format("woff");
}

@font-face {
    font-family: "Manrope_semibold";
    font-style: normal;
    font-weight: normal;
    src:
        local("Manrope Semibold"),
        url("../public/fonts/bold.woff") format("woff");
}
@font-face {
    font-family: "Manrope_da111_bold";
    font-style: normal;
    font-weight: normal;
    src:
        local("Manrope Bold"),
        url("../public/fonts/ClashGrotesk-Bold.woff") format("woff");
}

@font-face {
    font-family: "Formula Condensed Bold";
    font-style: normal;
    font-weight: normal;
    src:
        local("Formula Condensed Bold"),
        url("../public/fonts/FormulaCondensed-Bold.woff") format("woff");
}

.use-condensed {
    font-family:
        Formula Condensed Bold,
        sans-serif;
}

@font-face {
    font-family: "ClashGrotesk-Extralight";
    src: url("../fonts/ClashGrotesk-Extralight.woff") format("woff");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "ClashGrotesk-Light";
    src: url("../fonts/ClashGrotesk-Light.woff") format("woff");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "ClashGrotesk-Regular";
    src: url("../public/fonts/ClashGrotesk-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "ClashGrotesk-Medium";
    src: url("../fonts/ClashGrotesk-Medium.woff") format("woff");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "ClashGrotesk-Semibold";
    src: url("../fonts/ClashGrotesk-Semibold.woff") format("woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "ClashGrotesk-Bold";
    src: url("../fonts/ClashGrotesk-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "ClashGrotesk-Variable";
    src:
        local("Formula Condensed Light"),
        url("../public/fonts/ClashGrotesk-Variable.woff") format("woff");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

.nav-border-underline::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #000;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
}

.nav-border-underline:hover::before,
.nav-border-underline:focus::before {
    transform: scaleX(1);
}
